name: main

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # Cria o arquivo hxh.json usando o nome NOVO do seu segredo (GCP_JSON_BASE64)
      - name: Criar credencial Google
        run: echo "${{ secrets.GCP_JSON_BASE64 }}" | base64 -d > hxh.json

      # Instala dependências do Python e do Sistema (Linux)
      - name: Instalar dependências e Playwright
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install playwright
          playwright install chromium
          playwright install-deps

      # Roda o script com interface gráfica simulada (xvfb)
      - name: Executar o script
        run: xvfb-run python main.py
